header {
   background: #3F51B5;
   display: flex;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
   font-family: Roboto;
   height:8%;
   align-items: center;
   padding-top: 8px;
   padding-right: 16px;
   padding-bottom: 8px;
   padding-left: 16px;
   
}

a {
    text-decoration: none;
    color : white;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}