header {
   width: 100%;
   background: #3367D6;
   display: block;
   margin: auto;
   min-width: 1024px;
   padding: auto;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
   font-family: Roboto;
   height: 40px;
   
}

a {
    text-decoration: none;
    color : white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}