mat-card {
    margin : 20px;
}

.AddShoppingListButton{
    float: right;
}

.ContentShoppingItem{
width: 20%;
}

.InfoIngredientShoppingList{
    font-size: 12px;
    color: grey;
}

.buttonItem {
    margin-left : 65%;
}

.ButtonSendFridge{
    margin-left: 81.5%;
}

.checkboxItem{
   color: #3F51B5;
}
.mat-mini-fab {
    background-color: #3F51B5;
    color: white;
}


.listitemshopping{
    color : black;
}

.AddShoppingList{
    display: flex;
  flex-direction: column;
  width: 100%;
}
.ShoppingListCard{
   width: 200px;
   margin: none;
}

