mat-card {
    margin : 20px;
}

.AddShoppingListButton{
    float: right;
}

.buttonItem {
    align-content: right;
    align-items: right;
    margin-left : 85%;
}

.checkboxItem{
   color: #3F51B5;
}
.mat-mini-fab {
    background-color: #3F51B5;
    color: white;
}


.listitemshopping{
    color : black;
}

.AddShoppingList{
    display: flex;
  flex-direction: column;
  width: 100%;
}
.ShoppingListCard{
   width: 200px;
   margin: none;
}

