<div class="container" fxLayout fxlayout.xs="column" fxLayoutAlign="center" fxLayoutGape.xs="0">
    <div class="item item-1" fxFlex="30%">
        <mat-card>
            <mat-card-title>Ajouter un élément</mat-card-title>
            <mat-card-content>
                <div class="AddShoppingList">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nom" [(ngModel)]="name">
                    </mat-form-field>
                    <br>
                </div>
                <div class="AddShoppingListButton">
                    <button mat-mini-fab mat (click)="AddItem()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="Item item-2" fxFlex="70%" fxFlexOrder="2">
        <mat-card>
            <mat-card-title>Liste de Courses</mat-card-title>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let shoppingListItem of shoppingListItems" class="listitemshopping">
                        <span>{{shoppingListItem.name}} </span>
                        <div class="buttonItem">
                            <button mat-icon-button (click)="RemoveItem(shoppingListItem)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>