mat-card {
    margin : 20px;
}

.AddRecipeButton, .AddIngredientInRecipe {
    float: right;
}

.mat-mini-fab {
    background-color: #3F51B5;
    color: white;
}

.RecetteCard{
   width: 350px;
   margin: none;
}

.recipeinput{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.label_pic, .recipeinput{
    font-size: 16px;
    color:black;
    display: inline-block;
    cursor: pointer;
}
