<div class="container" fxLayout fxlayout.xs="column" fxLayoutAlign="center" fxLayoutGape.xs="0">
    <div class="item item-1" fxFlex="30%">
        <mat-card>
            <mat-card-title>Ajouter une recette</mat-card-title>
            <mat-card-content>
                <div class="AddRecipeForm">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Nom" [(ngModel)]="name">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput type="Textarea" placeholder="Description" [(ngModel)]="description"></textarea>
                    </mat-form-field>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Ajouter ingrédients
                                </mat-panel-title>
                                <mat-panel-description>
                                    Entrez les ingrédients de votre recette
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-form-field>
                                <input matInput placeholder="Nom">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Quantité">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput placeholder="Unité">
                            </mat-form-field>
                            <div class="AddIngredientInRecipe">
                                <button mat-mini-fab mat>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Ingrédients ajoutés
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <button mat-button>
                        <mat-icon>image</mat-icon>
                        <label> Ajouter une image</label>
                    </button>
                    <div class="AddRecipeButton">
                        <button mat-mini-fab mat>
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    <div class="Item item-2" fxFlex="70%" fxFlexOrder="2">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Recettes</mat-card-title>
                <mat-card class="RecetteCard" *ngFor="let recipe of recipes">
                    <mat-card-header>
                        <mat-card-title>
                          {{recipe.name}} 
                        </mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src={{recipe.image}}
                            alt="Photo recette">
                    <mat-card-content>
                        <p>{{recipe.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="RemoveRecipes(recipe)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>