<mat-card>
    <mat-card-title>Viandes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <p>Boeuf</p>
                <button mat-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>              
            <mat-list-item>
                <p> Poulet</p>
                <mat-card-actions>
                    <button mat-button></button>
                    <button mat-button></button>
                </mat-card-actions>

            </mat-list-item>
            <mat-list-item> Porc
                <mat-card-actions>
                    <button mat-button></button>
                    <button mat-button></button>
                </mat-card-actions>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-title>Légumes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item> Haricots </mat-list-item>
            <mat-list-item> Carottes </mat-list-item>
            <mat-list-item> Choux </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>