<mat-card>
    <mat-card-title>Viandes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <p>Boeuf</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <p> Poulet</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <p>Porc</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-title>Légumes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <p>Haricots</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <p>Carottes</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <mat-list-item>
                <p>Choux</p>
                <div class="icones">
                    <button mat-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>