mat-card {
     margin : 20px;
}
.AddIngredientsCard{
    width : 20%;
    align-items:right;
}

.AddIngredientsButton{
    float: right;
}

.mat-mini-fab {
    background-color:#3F51B5;
    color: white; 
}

.buttonIngredients {
    margin-left: 50%;
}

.ContentIngredients{
    width : 40%;
}


.AddIngredientsForm{
    border: none;
}

.IngredientsCard{
    width: 40%;
    align-items: right;
}

.InfoQuantity, .InfoUnity{
    font-size: 12px;
    color: grey;
}